body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  color: #def2f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 30vh;
  font-size: 30px;
}

#black-text {
  color: #2272ff;
  font-size: 50px;
}

.final-score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 50%;
  min-height: 10vh;
}

.score-card {
  background-color: #2273ff46;
  width: 25%;
  border-radius: 20px;
}

.battle-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.weapons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weapons-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.img-btn {
  background-color: #def2f1;
  padding: 15px;
  margin: 0 40px 15px 40px;
  border-radius: 50px;
}

#round-win {
  text-align: center;
  width: 40%;
  background-color: #465266;
  opacity: 0.8;
  border: 3px solid;
}

.footer {
  background-color: #2272ff;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
