body {
  margin: 0;
  padding: 0;
  background-color: #1d1d1d;
  color: #def2f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 30vh;
  font-size: 30px;
}

#black-text {
  color: #2272ff;
  font-size: 50px;
}

.final-score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 10vh;
}

.score-card {
  background-color: #2273ff46;
  width: 30%;
  max-width: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.battle-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.weapons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.weapons-selected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

button {
  background-color: #def2f1;
  padding: 15px;
  margin: 10px;
  border-style: none;
  border-radius: 50px;
}

#round-win {
  text-align: center;
  width: 80%;
  max-width: 400px;
  background-color: #465266;
  opacity: 0.8;
  border: 3px solid;
  margin-bottom: 20px;
}

.footer {
  background-color: #2272ff;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
}
